[submodule "tmux/plugins/srcery-tmux"]
	path = tmux/plugins/srcery-tmux
	url = https://github.com/srcery-colors/srcery-tmux
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "dwm"]
	path = dwm
	url = git@github.com:harshapathuri86/dwm.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:harshapathuri86/dwmblocks.git
